{
	"extends": "airbnb-typescript-prettier",
	"rules": {
		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars-experimental": "error",
		"react/jsx-props-no-spreading": 0
	}
}
