{
	"extends": "airbnb-typescript-prettier",
	"rules": {
		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars-experimental": "error",
		"react/jsx-props-no-spreading": 0,
		"no-shadow": "off",
		"react/jsx-boolean-value": "off",
		"prettier/prettier": [
			"error",
			{
				"endOfLine": "auto"
			}
		]
	}
}
